.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 10px;
}
.span6 {
    grid-column: span 6;
    background-color: #c46ec7;
}

.span3 {
    grid-column: span 3;
    background-color: #3d4b9a;
}

.box {
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}