.container {
    display: grid;
    grid-template-rows: 100px auto;
    gap: 10px;
    width: 80%;
    margin: 20px auto;
}

.box {
    background-color: rgb(45, 70, 116);
    color: white;
    padding: 15px;
    font-size: 16px;
}

.header {
    color: rgb(192, 77, 100);
    text-align: center;
}
