

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    }


.box {
    background-color: rgb(218, 112, 168);
    color: rgb(4, 4, 4);
    padding: 20px;
    text-align: center;
    font-weight: bold;
}