body {
    font-family: Arial, sans-serif;
}

.container {
    border: 2px solid black;
    padding: 10px;
    display: grid;
}

.item {
    border: 1px solid blue;
    padding: 20px;
    margin: 5px;
    background-color: lightblue;
}
